
/* General CSS Style file for SIRIUS

   It should be used with Qt tools so that it is applied as default widget resources
   when python packages are imported.
*/

#ASApp {background-color: #d7ccc8;}
#LIApp {background-color: #f3d2d5;}
#TBApp {background-color: #fcaac7;}
#BOApp {background-color: #c8e6c9;}
#TSApp {background-color: #b2ebf2;}
#SIApp {background-color: #56aeff;}
#IDApp {background-color: #bbbbdd;}
#ITApp {background-color: #ffece6;}
QScrollArea {background-color: transparent;}


QLed {
  min-height: 1.29em;
  max-height: 1.29em;
  min-width: 0.64em;
}

PyDMStateButton {
  min-height: 1.29em;
  max-height: 1.29em;
}

QMenuBar {
  border-bottom: 2px solid black;
}

QMenuBar::item {
    padding: 0 15px 0 5px;
}

QMenuBar::item:selected {
  color: white;
  background-color: #007db3;
  border-bottom: black;
}

/* QSplitter */
QSplitter::handle {
    background: qlineargradient(spread: pad, x1:0.993909, y1:0.455, x2:0, y2:0.511, stop:0 rgba(172, 172, 172, 255), stop:1 transparent);
    width: 0.5em;
    height: 0.5em;
}

QSplitter::handle:hover {
    background: qlineargradient(spread: pad, x1:0, y1:0.511, x2:0.993909, y2:0.455, stop:0 rgba(172, 172, 172, 255), stop:1 transparent);
    width: 0.5em;
    height: 0.5em;
}

/* Tab Widget */
QTabWidget::pane {
    border-top: 2px solid black;
}

QTabWidget::tab-bar {
    left: 5px;
}

QTabBar::tab {
    color: black;
    /*background-color: white;*/
    padding: 0 1em 0 1em;
    margin: 0 0.1em 0 0.1em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border: 0.1em solid black;
    margin-top: 0.0em;
}

QTabBar::tab:selected, QTabBar::tab:hover {
    /*font-weight: 900;*/
    border: 0.1em solid black;
}
#LITab QTabBar::tab:selected, #TBTab QTabBar::tab:hover {
  background-color: rgb(250, 53, 86);
  color: white;
  border: 0.1em solid white;
}
#TBTab QTabBar::tab:selected, #TBTab QTabBar::tab:hover {
  background-color: purple;
  color: white;
  border: 0.1em solid white;
}
#BOTab QTabBar::tab:selected, #BOTab QTabBar::tab:hover {
  background-color: green;
  color: white;
  border: 0.1em solid white;
}
#TSTab QTabBar::tab:selected, #TSTab QTabBar::tab:hover {
  background-color: rgb(7, 140, 202);
  color: white;
  border: 0.1em solid white;
}
#SITab QTabBar::tab:selected, #SITab QTabBar::tab:hover {
  background-color: blue;
  color: white;
  border: 0.1em solid white;
}
#ASTab QTabBar::tab:selected, #ASTab QTabBar::tab:hover {
  background-color: rgb(153, 149, 147);
  color: white;
  border: 0.1em solid white;
}
#ITTab QTabBar::tab:selected, #ITTab QTabBar::tab:hover {
  background-color: rgb(255, 162, 133);
  color: white;
  border: 0.1em solid white;
}

QTabBar::tab:!selected {
    margin-top: 0.2em; /* make non-selected tabs look smaller */
    font-weight: 200;
}

/* Group Box*/
QGroupBox {
    border: 2px solid grey;
    font-weight: bold;
    margin-top: 1.5ex;
}

QGroupBox::title {
    font-weight: bold;
}

QCheckBox::indicator {
    width: 1em;
    height: 1em;
}

QTreeWidget::indicator {
    width: 1em;
    height: 1em;
}

QTreeWidget::text {
    spacing: 1em;
}

ProgressDialog {
    min-width: 400px;
    max-width: 400px;
    min-height: 150px;
    max-height: 150px;
}
/* Servconf */
#ServConf {
    padding: 0 20px 10px 20px;
    min-width: 80em;
    min-height: 54em;
}
#ServConf #Header {
    margin: 0 0 0 0;
    padding: 20px 20px 20px 20px;
    color: white;
    border: 1px solid gray;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}
#ServConf #Header QWidget {
    font-weight: bold;
    font-size: 25px;
}
#ServConf #SubHeader {
    padding: 10px 0 10px 0;
    border: 1px solid gray;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    margin: 0 0 10px 0;
}
#ServConf #SubHeader QWidget {
    margin-bottom: 5px;
}

#ServConf #DeleteButton[enabled=true] {
    color: white;
    background-color: #cc2900;
}
#ServConf #DeleteButton[enabled=false] {
    color: white;
    background-color: #ff8566;
}
#ServConf #RetrieveButton[enabled=true] {
    color: white;
    background-color: #007acc;
}
#ServConf #RetrieveButton[enabled=false] {
    color: white;
    background-color: #99d6ff;
}
