include siriushla/as_ap_currlt/ui_bo_ap_currlt.ui
include siriushla/as_ap_currlt/ui_si_ap_currlt.ui
include siriushla/as_ap_injcontrol/TB.svg
include siriushla/as_ap_injcontrol/TS.svg
include siriushla/as_ap_injcontrol/TB-BO.svg
include siriushla/as_di_icts/ui_ictmon.ui
include siriushla/common/diff_ctrl/ui_as_ap_devhmon.ui
include siriushla/common/diff_ctrl/ui_as_ap_devvmon.ui
