include siriushla/as_ap_injcontrol/TB.svg
include siriushla/as_ap_injcontrol/TS.svg
include siriushla/as_ap_injcontrol/TB-BO.svg
include siriushla/as_di_icts/ui_ictmon.ui
include siriushla/common/diff_ctrl/ui_as_ap_devhmon.ui
include siriushla/common/diff_ctrl/ui_as_ap_devvmon.ui
include siriushla/li_di_scrns/linac.png
include siriushla/li_rf_llrf/llrf.png
include siriushla/li_va_control/vacuum.png
include siriushla/si_ap_cryo/cryo1.png
include siriushla/widgets/resources/led_shapes/circle.svg
include siriushla/widgets/resources/led_shapes/round.svg
include siriushla/widgets/resources/led_shapes/square.svg
include siriushla/widgets/resources/led_shapes/triangle.svg
include siriushla/widgets/resources/but_shapes/squared_on.svg
include siriushla/widgets/resources/but_shapes/squared_off.svg
include siriushla/widgets/resources/but_shapes/squared_disconn.svg
include siriushla/widgets/resources/but_shapes/rounded_on.svg
include siriushla/widgets/resources/but_shapes/rounded_off.svg
include siriushla/widgets/resources/but_shapes/rounded_disconn.svg
include siriushla/sirius-hla-style.css
