
/* General CSS Style file for SIRIUS

   It should be used with Qt tools so that it is applied as default widget resources
   when python packages are imported.
*/


* {
  font-size: 20pt;
}

QMenuBar {
  border-bottom: 2px solid black;
}

QMenuBar::item {
    padding: 0 15px 0 5px;
}

QMenuBar::item:selected {
  color: white;
  background-color: #007db3;
  border-bottom: black;
}

/* Tab Widget */
QTabWidget::pane {
    border-top: 2px solid black;
}

QTabWidget::tab-bar {
    left: 5px;
}

QTabBar::tab {
    color: black;
    /*background-color: white;*/
    padding: 0 8px 0 8px;
    margin: 0 1px 0 1px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: 1px solid black;
    margin-top: 15px;
}

QTabBar::tab:selected, QTabBar::tab:hover {
    /*font-weight: 900;*/
    border: 2px solid black;
}

#TBTab QTabBar::tab:selected, #TBTab QTabBar::tab:hover {
  background-color: purple;
  color: white;
  border: 1px solid white;
}
#BOTab QTabBar::tab:selected, #BOTab QTabBar::tab:hover {
  background-color: green;
  color: white;
  border: 1px solid white;
}
#TSTab QTabBar::tab:selected, #TSTab QTabBar::tab:hover {
  background-color: red;
  color: white;
  border: 1px solid white;
}
#SITab QTabBar::tab:selected, #SITab QTabBar::tab:hover {
  background-color: blue;
  color: white;
  border: 1px solid white;
}

QTabBar::tab:!selected {
    margin-top: 20px; /* make non-selected tabs look smaller */
    font-weight: 200;
}

/* Scroll Bar */
QScrollBar:horizontal {
    border: 2px solid grey;
    min-width: 150px;
    margin: 0 20px 0 20px;
    height: 20px;
}

QScrollBar::handle:horizontal {
    min-width: 20px;
}

QScrollBar::add-line:horizontal {
    width: 20px;
    subcontrol-position: right;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal {
    width: 20px;
    subcontrol-position: left;
    subcontrol-origin: margin;
}

QAbstractSpinBox::up-button {
    width: 32px;
}

QAbstractSpinBox::down-button {
    width: 32px;
}

QLineEdit {
    border: 2px solid grey;
    min-width: 150px;
}

/* Group Box*/
QGroupBox {
    border: 2px solid grey;
    font-weight: bold;
    margin-top: 1.5ex;
}

QGroupBox::title {
    font-weight: bold;
}

QCheckBox::indicator {
    width: 25px;
    height: 25px;
}
#OkTextEdit {
    background-color: #eafaea;
}
#NokTextEdit {
    background-color: #ffebe6;
}
PSTestWindow > QLabel {
    font-weight: bold;
}
/*
PulsedMagnetControlWindow {
  min-width: 1568px;
  max-width: 1568px;
  min-height: 600px;
  max-height: 600px;
}

BaseMagnetControlWindow {
  min-width: 2336px;
  max-width: 2336px;
}*/
